html, body {
  background-color: #21232A;
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  padding: 10px;
  background-color: orange;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 5px;
}